.header {
  text-align: right;
  margin: 0 20px;
}

.title {
  margin: 10px 20px;
  text-align: left;
}

.container {
  display: flex;
  margin: 0 20px;
}

.container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  margin: 10px 0;
}

.config-lable {
  margin-right: 5px;
}

.center {
  text-align: center;
}

.block {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin: 10px 0;
}