.answer-block {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.question-block {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.question-bar {
  display: flex;
}

.reference-block {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
