.answer-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.question-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.question-bar {
  display: flex;
}

.reference-block {
  display: flex;
  flex-direction: column;
}
