.info-block {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  border: 1px solid #d0d7de;
  margin-bottom: 10px;
  gap: 10px;
  padding: 10px;
}

.info-value {
  background: white;
  border: 1px solid #d0d7de;
  border-radius: 5px;
  padding: 0 5px;
}

.answer-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.question-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.question-bar {
  display: flex;
}

.reference-block {
  display: flex;
  flex-direction: column;
}
