.info-block {
  @apply flex flex-wrap border rounded-md mb-2 gap-2 p-2 text-base;
}

.info-value {
  @apply bg-white border rounded-md px-2 py-1 text-base;
}

.events-block {
  @apply flex flex-col mb-2;
}

.events-view {
  @apply flex flex-col bg-white border-border rounded-md overflow-auto px-2 py-1 text-base;
}

.question-block,
.answer-block,
.reference-block {
  @apply flex flex-col mb-2 text-base;
}

.question-bar {
  @apply flex items-center gap-2;
}

.markdown-frame {
  @apply bg-white border p-4 rounded-md overflow-auto shadow-sm text-base;
}
