.info-block {
  @apply flex flex-wrap bg-gray-100 border rounded-md mb-2 gap-2 p-2 text-base;
}

.info-value {
  @apply bg-white border rounded-md px-2 py-1 text-base;
}

.events-block {
  @apply flex flex-col mb-2;
}

.events-view {
  @apply flex flex-col bg-white border-border rounded-md overflow-auto px-2 py-1 text-base;
}

.question-block,
.answer-block,
.reference-block {
  @apply flex flex-col mb-2 text-base;
}

.question-bar {
  @apply flex items-center gap-2;
}

.question-bar button[type="submit"] {
  background-color: #888888;
  transition: all 0.2s ease;
}

.question-bar button[type="submit"]:hover {
  background-color: #555555;
}

.question-bar button[type="submit"]:active {
  transform: scale(0.9);
}

.markdown-frame {
  @apply bg-white border p-4 rounded-md overflow-auto shadow-sm text-base;
}
