.info-block {
  @apply flex flex-wrap bg-gray-100 border rounded-md mb-2 gap-2 p-2 text-base;
}

.info-value {
  @apply bg-white border rounded-md px-2 py-1 text-sm;
}

.events-block {
  @apply flex flex-col mb-2;
}

.events-view {
  @apply flex flex-col bg-white border-border rounded-md overflow-auto px-2 py-1 text-sm;
}

.question-block,
.answer-block,
.reference-block {
  @apply flex flex-col mb-2 text-base;
}

.question-bar {
  @apply relative flex items-end gap-2;
}

.question-bar textarea {
  @apply w-full min-h-[40px] resize-none overflow-hidden leading-6 px-2.5 pr-12 py-1.5 rounded-md border border-gray-300 text-sm;
}

.question-bar button[type="submit"] {
  @apply absolute right-2 bottom-2 w-8 h-8 rounded-full bg-gray-500 flex items-center justify-center border-none cursor-pointer transition-all duration-200;
}

.question-bar button[type="submit"]:hover {
  @apply bg-gray-600;
}

.question-bar button[type="submit"]:active {
  @apply scale-90;
}

.question-bar button[type="submit"] > svg {
  @apply pointer-events-none transition-transform duration-100;
}

.markdown-frame {
  @apply bg-white border p-4 rounded-md overflow-auto shadow-sm text-base;
}
