
.info-block {
  @apply flex flex-wrap border border-gray-300 rounded-md mb-2 gap-2 p-2;
}

.info-value {
  @apply bg-white border border-gray-300 rounded-md px-2 py-1;
}

.events-block {
  @apply flex flex-col mb-2;
}

.events-view {
  @apply flex flex-col bg-white border border-gray-300 rounded-md overflow-auto px-2 py-1;
}

.question-block,
.answer-block,
.reference-block {
  @apply flex flex-col mb-2;
}

.question-bar {
  @apply flex;
}

.markdown-frame {
  @apply bg-white border border-gray-300 p-4 rounded-md overflow-auto shadow-sm;
}
