.setting {
    display: flex;
    margin: 5px 5px;
    gap: 5px;
}

.setting-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 10px;
}