@reference "../../globals.css";

.setting-container {
  @apply mb-2 flex flex-col space-y-2 rounded-md border bg-gray-100 p-2 text-base;
}

.setting {
  @apply flex items-center gap-2;
}

.setting label {
  @apply w-48 text-base;
}
