.main-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  text-align: right;
}

.title {
  text-align: left;
}

.container {
  display: flex;
}

.between-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.right-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
} 

.config-lable {
  margin-right: 5px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
  line-height: 1.2;
}

input,
textarea,
select {
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;
}

button {
  background-color: lightgray;
  border: 1px solid gray;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

body {
  margin: 20px 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f0f0f0;
}
