.answer-block {
  display: flex;
  flex-direction: column;
}

.question-block {
  display: flex;
  flex-direction: column;
}

.question-bar {
  display: flex;
}

.reference-block {
  display: flex;
  flex-direction: column;
}
