@reference "../globals.css";

.main-frame {
  @apply mx-auto flex w-full max-w-[1000px] flex-col justify-center px-4;
}

.between-container {
  @apply flex w-full items-center justify-between;
}

.main-frame h1 {
  @apply my-4 text-2xl font-bold leading-tight;
}

.main-frame input,
textarea,
select {
  @apply rounded-md border px-2 py-1 text-base;
}

.main-frame button {
  @apply cursor-pointer rounded-md border bg-gray-200 px-2 py-1 text-base transition-colors duration-300 hover:bg-gray-300;
}
