.main-frame {
  @apply flex flex-col justify-center w-full max-w-[1200px] mx-auto;
}

.between-container {
  @apply flex justify-between items-center w-full;
}

body {
  @apply m-5 min-h-screen bg-gray-100;
}

h1 {
  @apply text-2xl font-bold my-1 leading-tight;
}

input,
textarea,
select {
  @apply border border-gray-300 rounded-md px-2 py-1;
}

button {
  @apply bg-gray-300 border border-gray-500 text-black rounded-md cursor-pointer
         transition-colors duration-300 px-3 py-1 hover:bg-gray-400;
}

li {
  @apply list-inside;
}
