.main-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.between-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.2em 0;
  line-height: 1.2;
}

input,
textarea,
select {
  border: 1px solid #d0d7de;
  border-radius: 5px;
  padding: 0 5px;
}

li {
  list-style-position: inside;
}

button {
  background-color: lightgray;
  border: 1px solid gray;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0 5px;
}

body {
  margin: 20px 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f0f0f0;
}